/*FIRST SECTION*/
    .first {
        background-color: #50abf1;
        width: 100%;
        height: 500px;
        top:0px;
        /*background-image: url('../images/background.png');*/
    }

    .first h1 {
        font-family: "Open-sans", sans-serif;
        margin-top: 10%;
        color:white;
        font-size: 2.5em;
        text-align: center;
    }

    .first h3 {
        font-family: "Lato", sans-serif;
        color:white;
        font-size: 1.5em;
        text-align: center;
    }

    .first a {
        color: #fff;
        font-size:1.5em;
    }

    .top-bar {
        padding-top: 3%;
        text-align: center;
    }

    .sml-logo {
        width: 60%;
        margin: 4%;
    }

/*TWEET SECTION*/
    .tweet-section {
        background: white;
        color: black;
    }

    .tweet-section h2 {
        font-family: "Open-sans", sans-serif;
        font-size: 2.5em;
    }

    .tweet-container {
        /* width: 35%; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        -webkit-box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
    }

    .tweet-container img {
        width: 100%; 
    }

/*ACTIVE USERS SECTION*/
    .active-users {
        background: #f9f9f9;
        width: 100%;
        padding-bottom: 25%;
        top:0px;
        opacity: 100%;
        z-index: -1;
    }

    /* .active-users h1 {
        margin-top: 50px;
    } */
    .active-users h4 {
        margin-top: 20px;
        color: lightgray;
    }

/*OUR EVENTS SECTION*/
    .our-events {
        background: white;
        width: 100%;
        /* height: 500px; */
        top:0px;
        opacity: 100%;
        z-index: -1;
        margin: 3%;
    }

    .our-events h2 {
        margin-top: 50px;
    }

    .see_more a {
        color: lightgrey;
        text-align: center;
    }

    .conf-logo-container {
        width: 100%;
        margin-top: 5%;
    }

    .conf-logo-container img {
        width: inherit;
    }

    .our-events h5 {
        text-align: center;
        /* margin-top: 20px; */
        color: lightgrey;
    }

/*ICONS*/
    .icon1 {
        -webkit-box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        border: 5px white solid;
    }

    .icons {
        margin-top:1%;
    }

    .icon1:hover {
        -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.3);
        -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.3);
        box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.3);
    }

    .icon {
        border-radius: 100px;
        -webkit-box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 66px -16px rgba(0,0,0,0.75);
        margin: 40% 30px 10px 30px;
    }

    .icon:hover {
        -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.3);
        -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.3);
        box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.3);
    }

/*ADVERT SECTION*/
    .advert {
        background: #f9f9f9;
        padding-bottom: 1%;
    }

    .advert_text {
        text-align: center;
    }

    .button {
        background: #50abf1;
        height: 40px;
        width: 180px;
        border-radius: 60px;
        color:white;
        margin-top: 1%;
        margin-bottom: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-container {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .logo_advert {
        box-shadow: none;
        -webkit-box-shadow:none;
        width: 100%;
    }

/*FOOTER SECTION*/
    .footer {
        background: #50abf1;
        color: #fff;
        width: 100%;
        padding-bottom: 15%;
        top:0px;
        opacity: 100%;
    }

    .footer a {
        color: #fff;
        font-size:1.5em; 
        margin-right: 20px
    }


    .contact {
        padding-left: 5%;
    }

    i {
        margin-right: 8px;
    }

    .logo-sml {
        width: 280px;
    }


@media (min-width: 768px) and (max-width: 991px)  {
   .icon {
        margin-top: 70%;
    }
}

@media (min-width: 400px) and (max-width: 991px)  {
    .footer h4,a,h5 {
        text-align: center;
    }
}






@media (max-width: 767px)   {
    .footer_stripe {
        height: 50px;
    }
    .icon {
        margin: 10px 0 0 37%;
    }
    .active-users h4 {
        text-align: center;
    }
}

@media (min-width: 490px) and (max-width: 768px)   {
    .active-users {
       padding-bottom: 50%; 
    }
}

@media (min-width: 400px) and (max-width: 489px)   {
    .active-users {
       padding-bottom: 80%; 
    }
    .icons {
       margin-top: 30px;
    }
}





@media (max-width: 480px) {
    .icon {
        margin: 10px 0 0 30%;
    }
    .active-users h4 {
        text-align: center;
    }
}

/*GENERAL*/
.blue h4 {
    color: black;
    text-align: center;
}

.twitter {
    font-size: 19px;
    color: #50abf1;
    text-align: center;
}

.blue_title {
    color: #50abf1;
    text-align: center;
    padding-top: 2%;
}